@page "{id:Int}"
@model Importør.Pages.Car.DeleteCarModel
@{
}
<h1>Confirm this deletion</h1>
<div class="alert alert-danger">
    <h5>Are You sure you wish to delete this car?</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/Car/GetAllCars">No</a>
    </form>
</div>
